@model Vidly.Models.MovieViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ViewHeader</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Movie</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Movies.Count > 0)
    {
        foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    @movie.Name
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                No movies available.
            </td>
        </tr>
    }
    </tbody>
</table>

